@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Student Management</h1>
    <p class="lead">Student Registration Application.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

